body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 "微软雅黑", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #002B36;
}

ul, ol {
  list-style: none;
}

.main {
  background: #fff;
  min-height: 480px;
  padding-top: 20px;
}

.navbar-static-top {
  margin: 0;
}

a {
  color: #333;
}

a:active {
  color: #008000;
}

a:hover {
  color: #0000ff;
}

.doc-header {
  margin-bottom: 40px;
}

.doc-content {
  margin-bottom: 30px;
}

footer {
  padding: 30px 0 20px 0;
  background: #002B36;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #aaa;
}

footer a:active {
  color: #999;
}

.weixin img {
  width: 128px;
  margin-bottom: 5px;
  display: block;
}

.weixin span {
  text-align: center;
  display: block;
}